
.Login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LoginDS{
    width: 50%;
    height: 100%;
    background: #2D2E32;
    border-radius: 0% 25% 0% 25% / 0% 25% 0% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Assets/pexels-prateekkatyal-2740956.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(75%);
}

.LoginDS .LoginImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    border-radius: 0% 25% 0% 25% / 0% 25% 0% 25%;
    backdrop-filter: blur(3px);
}
.LoginDS .LoginImg .imgdivsheild{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LoginDS .LoginImg img{
    width: 30%;    
}
.LoginDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
.LoginDiv .LoginInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.LoginDiv .LoginInfo h1{
    color: #2D2E32;
    font-family: Poppins,sans-serif;
    text-align: center;
}
.LoginDiv .LoginInfo p{
    color: #2D2E32;
    font-family: Poppins,sans-serif;
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.4;
}
  button,
  .inputLg {
    border: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    outline: none;
  }

  .formulaire{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  
  .textbox {
    position: relative;
    margin-bottom: 16px;
  }
  .textbox .usr{
    color: #2D2E32;
    top: 50%;
    translate: 0 -230%;
    left: 0;
    opacity: 0.7;
    pointer-events: none;
    transition: 0.5s;
  }
  .textbox span {
    color: #2D2E32;
    top: 50%;
    translate: 0 -155%;
    left: 0;
    opacity: 0.7;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .formulaire .textbox .inputLg {
    padding: 0 24px 0 36px;
    border-bottom: 2px solid #2D2E32;
    color: #2D2E32;
    height: 50px;
    font-family: 'Mulish',sans-serif;
    font-size: 0.90rem;
    font-weight: 500;
    line-height: 1.6;
  }
  
  :is(.textbox .inputLg:focus, .textbox .inputLg:valid) ~ label {
    translate: -40px -55px;
    scale: 0.875;
    color: #2D2E32;

  }
  :is(.textbox .inputLg:focus, .textbox .inputLg:valid) ~ .usr {
    color: #2D2E32;
    opacity: 1;
  }
  :is(.textbox .inputLg:focus, .textbox .inputLg:valid) ~ span {
    color: #2D2E32;
    opacity: 1;
  }
  
  .formulaire .textbox label {
    position: absolute;
    top: 50%;
    left: 36px;
    translate: 0 -115%;
    color: #2D2E32;
    pointer-events: none;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mulish',sans-serif;
    font-weight: 700;
    line-height: 1.6;
  }
  
  .formulaire button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 6px;
    background: #2D2E32;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-weight: 600;
    margin: 3px;
    font-family: 'Mulish',sans-serif;
    font-weight: 500;
    line-height: 1.6;
  }
  .formulaire button:focus{
    background: #2D2E32;
    color: #f9f9f9;
  }
  
  .btnbnr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #btnshowpwd{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 6px;
    background: #2D2E32;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-weight: 600;
    margin: 3px;
  }
  #showpwdicon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .textbox {
    margin-bottom: 1.5rem;
  }
  
  
  .textbox #showpwdicon:hover {
    color: #5d5d5d;
  }
  
  .textbox .inputLg[type="password"]::-ms-reveal,
  .textbox .inputLg[type="password"]::-ms-clear {
    display: none;
  }
  
  .textbox .inputLg[type="password"]::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  @media screen and (max-width: 1000px){
    .Login{
      display: block;
    }
    .LoginDS{
      width: 100%;
     
    }
    .LoginDiv{
      width: 100%;

    }
  }